@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap');

body {
  font-family: 'Montserrat', sans-serif !important;
  background-color: #efe9e4 !important;
}

button {
  color: #efe9e4 !important;
  background-color: #D67229 !important;
  border-color: #D67229 !important;
}

.custom-navbar {
    border-bottom: 1px solid lightgray;
    background-color: #E3E0de;
  }

.custom-text {
    margin-right: 60px;
    color: #313031 !important;
}

.card-width {
  width: 35rem;
}

.card-margin{
  margin-bottom: 30px;
}

.card-body {
  border-color: black;
  color: #313031;
}

.vertical-group{
  margin-bottom: 30px;
}

.welcome-text{
  text-align: center;
  margin-bottom: 40px;
}

.Login-image {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
    margin-top: -60px;
    margin-bottom: -150px;
}

.login-logo {
    max-width: 40%;
    max-height: 40%;
    width: auto;
    height: auto;
}

.custom-input {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  padding: 3px;
  font-size: 16px; 
  margin: auto;
}

.custom-button {
  width: 50%;
  display: block;
  margin: 10px auto;
  align-self: center;
  text-align: center;
}

.custom-input {
  width: 50%;
  padding: 3px;
  font-size: 16px;
  margin-bottom: 10px;
}

.custom-button {
  width: 50%;
  margin-left: 174px;
}

.input-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

/* Color found for comment boxes: /* #313031 */ 