@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap");

body {
  font-family: "Montserrat", sans-serif !important;
  background-color: hsl(27, 26%, 92%) !important;
}

button {
  color: hsl(27, 26%, 92%) !important;
  background-color: hsl(25, 68%, 50%) !important;
  border-color: hsl(25, 68%, 50%) !important;
}

a {
  color: hsl(25, 68%, 50%) !important;
}

.custom-navbar {
  border-bottom: 1px solid hsl(0, 0%, 83%);
  background-color: hsl(24, 8%, 88%);
}

.custom-text {
  margin-right: 60px;
  color: hsl(300, 1%, 19%) !important;
}

.card-width {
  width: 35rem;
}

.card-margin {
  margin-bottom: 30px;
}

.card-body {
  border-color: black;
  color: hsl(300, 1%, 19%);
}

.vertical-group {
  margin-bottom: 30px;
}

.welcome-text {
  text-align: center;
  margin-bottom: 40px;
}

.Login-image {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh;
  margin-top: -60px;
  margin-bottom: -150px;
}

.login-logo {
  max-width: 40%;
  max-height: 40%;
  width: auto;
  height: auto;
}

.custom-input {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  font-size: 16px;
  margin-left: auto;
  margin-right: auto;
}

.custom-button {
  width: 50%;
  display: block !important;
  margin: 10px auto;
  align-self: center;
  text-align: center;
}

.secondary-button {
  width: 50%;
  display: block !important;
  margin: 10px auto;
  align-self: center;
  text-align: center;
  color: hsl(27, 26%, 92%) !important;
  background-color: hsl(25, 68%, 70%) !important;
  border-color: hsl(25, 68%, 70%) !important;
}

.input-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.feed-buttons {
  width: 245px;
}

h6 {
  margin-left: 10px;
  font-size: small !important;
}

.card-text {
  margin-left: 18px;
}

.popup {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  padding: 20px;
  border: 1px solid hsl(0, 0%, 83%);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  z-index: 9999;
  border-radius: 5px;
}

.close-btn {
  position: absolute;
  top: 2.5px;
  right: 10px;
  cursor: pointer;
  color: hsl(0, 0%, 83%);
}

input[type="radio"] {
  box-sizing: border-box;
  appearance: none;
  background: white;
  outline: 1px solid hsl(0, 0%, 83%);
  border: 1px solid white;
  width: 16px;
  height: 16px;
}

input[type="radio"]:checked {
  background: #333;
}

.experience-container {
  border: 1px solid hsl(0, 0%, 83%);
  padding: 10px;
  border-radius: 5px;
  position: relative;
  left: -120px;
  background: white;
}

#exampleInputFirstName{
  margin-bottom: -5%;
}

#exampleInputPassword2{
  margin-bottom: -5%;
}

h6 {
  text-align: center;
  margin-top: 5%;
}

#errorMessage{
  text-align: center;
  color: hsl(9, 68%, 50%);
}
/* Color found for comment boxes:  #313031 
HSL colorcodes: 
Orange: hsl(25, 68%, 50%)
Beige(Backgroundcolor): hsl(27, 26%, 92%)
Grey(Navbar): hsl(24, 8%, 88%)
Black (Text): hsl(300, 1%, 19%)

LightGray: hsl(0, 0%, 83%)*/
